<!DOCTYPE html>
<html class="no-js">
<head>
	<title>Delicious || Home</title>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Restaurant One Page HTML5 Template</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<link rel="stylesheet" href="css/bootstrap.min.css">    
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap-responsive.css">
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
  <script src="js/jquery.nav.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body>	
  <div id="mainbody">
    <section id="hero-area">
      <img class="img-responsive" src="gambar/header.jpg">
    </section>
    <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                               <a class="navbar-brand" href="home.html">
                                <img src="gambar/logo3.png" style="width: 230px;">
                               </a> 
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right">
                                <li><a href="home.html">&diams; HOME &diams;</a></li>
                                <li><a href="breakfast.html">&diams; BREAKFAST &diams;</a></li>
                                <li><a href="lunch.html">&diams; LUNCH &diams;</a></li>
                                <li><a href="dinner.html">&diams; DINNER &diams;</a></li>
                                <li><a href="snack.html">&diams; SNACK &diams;</a></li>
                              </ul>
                            </div>
                          </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
	</nav>
    <section id="blog" style="background: url(gambar/blog.jpg);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading">Food Recipes of The Day</h1>
                        <ul>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <a href="pizza.html"><img src="gambar/blog2.jpg" alt="blog-img"></a>
                                </div>
                                <div class="content-right">
                                    <h3>Creamy Chicken Soup</h3>
                                    <p>Soup with Creamy Chicken Jago jangan di adu kalau di adu zenggernya mewrah</p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="blog-img">
                                    <img src="gambar/blog3.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Strawberry Waffle Creme</h3>
                                    <p>Waffle Strawberry with tumvuk emfat with strawberry fruit and daon hijau daun band</p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="content-left">
                                    <h3>Steak Fillet Beef</h3>
                                    <p>Steak Fillet Beef kebow idul adha di fotong bersama ibu ibu majelis ta'lim</p>
                                </div>
                                <div class="blog-img-2">
                                    <img src="gambar/blog4.jpg" alt="blog-img">
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="content-left">
                                    <h3>Spicy Beef BBQ</h3>
                                    <p>Spicy Beef BBQ with sausage wrap mc donalds and cappucino float jelly</p>
                                </div>
                                <div class="blog-img-2">
                                    <img src="gambar/blog5.jpg" alt="blog-img">
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="blog-img">
                                    <img src="gambar/blog6.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Strawberry Pancake</h3>
                                    <p>Strawberry Cherry Pancake fan dibalik balik with spatulla spongebob squarepants </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="blog-img">
                                    <img src="gambar/blog7.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Caesar Salad with Honey</h3>
                                    <p>Caesar Salad with Honey bunny sweety mami poko sgm dan bebelac 3 gold</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div ng-app="MyApp" ng-controller="MyController">
    <form style="margin-left: 15px">
        <h1 style="text-align: center;">Form Request Food Recipes</h1>
        <br>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" ng-model="Name" >
  </div>
  <div class="form-group">
    <label for="email">Email Address:</label>
    <input type="email" class="form-control" id="email" ng-model="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="example@gmail.com" required="" >
  </div>
  <div>
    <label>Request Food Recipes :</label>
    <textarea placeholder="Enter your Messages" cols="40" rows="3" ng-model="Notes" name="notes">
    </textarea>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="Pilihan1"> Breakfast</label><br>
    <label><input type="checkbox" ng-model="Pilihan2"> Lunch</label><br>
    <label><input type="checkbox" ng-model="Pilihan3"> Dinner</label><br>
    <label><input type="checkbox" ng-model="Pilihan4"> Snack</label>
  </div>
  <button type="submit" class="btn btn-default" ng-click="ShowAlert()">Submit</button>
</form>
</div>
<br>
  <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>Copyright &copy; 2018 - All Rights Reserved Design and Developed By <a href="https://www.instagram.com/o_shyn/?hl=id">FASYA & JOJO</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $window) {
            $scope.ShowAlert = function () {
                if (typeof ($scope.Name) == "undefined" || $scope.Name == "" || $scope.Email == null || $scope.Notes == null) {
                    $window.alert("Please Enter Full Form!");
                    return;
                }
                $window.alert("Hello " + $scope.Name + " Thanks For Your Request Food Recipes");
                $scope.Name=[""];
                $scope.Email=[""];
                $scope.Notes=[""];
                $scope.Pilihan1=[""];
                $scope.Pilihan2=[""];
                $scope.Pilihan3=[""];
                $scope.Pilihan4=[""];
            }
        });
    </script>
</html>